.page-nav{
    background-color: #ddd;
    margin-bottom: 20px;
}
#topnav{
    margin-top: 10px;

    li {
        display: inline;
        padding: 5px 8px;
    }
}

#site-name{
    font-size: 22px;
    margin-top: 10px;
}
